*{
    color: white;
}
table, th, td{
    border: 1px solid black;
    background: hsl(200, 70%, 30%);
}
body{
    background: hsl(200, 70%, 40%);
}
th{
    background: linear-gradient(hsl(175, 100%, 30%),hsl(200, 70%, 30%));
}
td{
    background: hsl(210, 85%, 20%);
}
img,video,audio{
    border-radius: 5px;
    border: 2px solid hsl(150,100%,75%);
}
audio{
    border-radius: 30px;
}