* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body {
    background: rgb(50,50,50);
}
#inputs{
    background: gray;
    border: 3px solid black;
    border-radius: 10px;
    margin-top: 30vh;
    padding: 15px;
    margin-left: 20vw; margin-right: 20vw;
    vertical-align: middle;
}
label {
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    margin: 3px 3px 3px 3px;
    color: white;
}
input {
    display: flex;
    align-self: right;
    justify-self: right;
    border: 2px solid black;
}
input:hover{
    background: darkgray;
}
p {
    color: white;
}
button{
    display: flex;
    border: 2px solid black;
    border-radius: 3px;
    padding: 10px;
    width: 15vw;
    align-self: center;
    justify-self: center;
    text-align: center;
    justify-content: center;
    margin-top: 10px;
}
button:hover{
    background: lightgray;
}
h1 {
    color: white;
    display: flex;
    align-self: center;
    justify-self:center;
    margin-top: 100px;
    margin-bottom: -100px;
}
dialog{
    background: gray;
    color: white;
    border: 3px solid black;
    border-radius: 3px;
    padding: 20px;
}
@media (max-width: 480px) {
    #inputs {margin-left: 10vw; margin-right: 10vw}
    button {width: 20vw}
    h1 {font-size: 25px;}
}
@media (max-width: 300px) {
    #inputs {margin-left: 5vw; margin-right: 5vw}
    input {width: 50vw;}
    button {width: 30vw}
    h1 {font-size: 15px;}
}