* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body {
    background: rgb(50,50,50);
}
#inputs{
    background: gray;
    border: 3px solid black;
    border-radius: 10px;
    margin-top: 30vh;
    padding: 15px;
    margin-left: 10vw; margin-right: 10vw;
    vertical-align: middle;
}
#label {
    display: flex;
    text-align: left;
    color: white;
    flex-flow: column;
}
label {
    margin-top: 6px;
}
input {
    display: flex;
    align-self: right;
    justify-self: right;
    border: 2px solid black;
    margin: 3px 3px 3px 3px;
    flex-direction: row;
    transform: translate(0px,-95px);
}
input:hover{
    background: darkgray;
}
p {
    color: white;
}
button{
    display: flex;
    border: 2px solid black;
    border-radius: 3px;
    padding: 10px;
    width: 15vw;
    align-self: center;
    justify-self: center;
    text-align: center;
    justify-content: center;
}
button:hover{
    background: lightgray;
}
h1 {
    color: white;
    display: flex;
    align-self: center;
    justify-self:center;
    margin-top: 100px;
    margin-bottom: -100px;
}
dialog{
    background: gray;
    color: white;
    border: 3px solid black;
    border-radius: 3px;
    padding: 20px;
}
@media (max-width: 520px) {
    #inputs {margin-left: 10vw; margin-right: 10vw;}
    input {width: 25vw;}
    button {width: 20vw}
    h1 {font-size: 25px;}
}
@media (max-width: 460px) {
    #inputs {margin-left: 5vw; margin-right: 5vw}
    input {width: 25vw;}
    button {width: 30vw}
    h1 {font-size: 15px;}
}