
*{
    align-items: center;
    justify-items: center;
    vertical-align: middle;
}
input{
    margin: auto;
    padding: 4px;
    width: 216px;
}
#first, #last{
    width: 100px;
}
button{
    margin: auto;
    padding: 10px;
    width: 216px;
    background-color: #659d50;
    border: 1px solid;
    border-radius: 10px;
    border-width: 2px;
}
button:hover{
    background-color: white;
    border-style: dotted;
}
.rqd{
    color: rgb(255, 0, 0);
}
.radio{
    display: flex;
    width: 30%;
}
a {
    font-size: 10px;
}
body{
    background: #edf0f5;
}
