body{
    background-image: url(https://www.rose-hulman.edu/class/csse/csse290-WebProgramming/images/silverware.jpg);
    background-attachment: fixed;
}
h1,h2{
    stroke-width: 0.25em;
    display: table;
    background-color: rgb(250,250,250);
    text-decoration: underline;
    color: rgb(200,250,0);
}
h1{
    text-align: center;
}
ul{
    list-style-image: url(https://www.rose-hulman.edu/class/csse/csse290-WebProgramming/images/pie_bullet.png);
}
#comment{
    background-color: rgb(255,255,200);
}