*{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
table, th, td{
    border: 2px solid black;
    background-color: hsl(271, 70%, 30%);
}
table{
    margin: 0 auto;
}
body{
    background-image: url(https://artlogic-res.cloudinary.com/w_1400,h_1400,c_limit,f_auto,fl_lossy,q_auto:good,a_0/ws-flowers/usr/images/feature_panels/image/10/flowers-cork-street-50-years-2020-14-of-17-.jpg);
    background-attachment: fixed;
}
th{
    background: linear-gradient(hsl(175, 100%, 30%),hsl(200, 70%, 30%));
}
td{
    background: hsl(210, 85%, 20%);
}
img,video{
    border-radius: 5px;
    border: 2px solid hsl(150,100%,75%);
    box-shadow: 2px 4px rgba(5, 5, 5, 60%);
    width: 200px;
    height: 150px;
}
audio{
    border-radius: 30px;
    border: 2px solid hsl(150,100%,75%);
    box-shadow: 2px 4px rgba(5, 5, 5, 60%);
}
ul,ol,li{
    display: block;
}
.sources,.benefits,.top,.tablecaption{
    background: hsla(0, 0%, 20%, 0.6);
}